body {
  background-color: #0c0c0c;
  color: red;
  font-family: 'Poppins', sans-serif;
}

/* Navbar styling */
.navbar {
  background-color: #000 !important;
  border-bottom: 2px solid #e50914;
}

.nav-link:hover {
  color: #e50914 !important;
}

.navbar-brand img {
  height: 100px;
}

/* Search bar */
.form-control {
  color: #fff;
  border: 1px solid #e50914;
}

.btn-outline-light {
  border-color: #e50914;
  color: #e50914;
}

.btn-outline-light:hover {
  background-color: #e50914;
  color: #fff;
}

/* Category section */
.category-name {
  text-align: center;
  margin: 200px 0 60px 0;
  font-size: 40px;
  color: #e50914;
  letter-spacing: 0.5px;
}

.movie-card {
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(229, 9, 20, 0.2);
}

.movie-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.4);
}

.movie-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.h5{
  color:#e50914
}