body {
  background-color: #0c0c0c;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.head {
  margin: 20px;
  border: 2px solid #e50914;
  padding: 20px;
  background-color: #000;
  border-radius: 10px;
}
.topbar {
  border-bottom: 2px solid #e50914;
  padding: 15px 20px;
  background-color: #000;
  max-height: 100px;
}
/* Search Section */
.form-control {
  color: #fff;
  border: 1px solid #e50914;
}

.btn-outline-light {
  border-color: #e50914;
  color: #e50914;
}

.btn-outline-light:hover {
  background-color: #e50914;
  color: #fff;
}
/* Grid */
.grid {
  padding: 30px 10px;
}

.card-pics {
  background-color: #1a1a1a;
  border-radius: 10px;
  text-align: center;
  height: 450px;
  border: 2px solid rgba(229, 9, 20, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 40px;
}

.card-pics:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.5);
}

.logo-small {
    height: 120px;   
  width: auto;
}


/* fiting image in the card */
.card-pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Movie title */
.card-pics h5 {
  color: #e50914;
  font-size: 18px;
  margin: 0;
}
