body {
      background-color: #0d0d0d;
      color: white;
      font-family:'sans-serif';
    }
    .navbar {
      color: white;
      background-color: rgba(238, 229, 229, 0.9);
      padding: 5px 30px;
    }
    .navbar-brand img {
      height: 100px;
    }
    .btn-login{
      border-radius: 8px;
      padding: 6px 15px;
    }
    .btn-login {
      border: 3px solid #ff2a2a;
      color: #ff2a2a;
    }
    .btn-login:hover {
      background-color: black;
      color: white;
    }
        .heading {
      background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('Movie_website_logo-removebg-preview.png') center/cover no-repeat;
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .heading h1 {
      font-size: 3rem;
      color: #ff2a2a;
    }
    .heading p {
      color: #cccccc;
      font-size: 1.2rem;
      margin: 15px 0;
    }

    .btn-watch {
      background-color: #ff2a2a;
      border: none;
      border-radius: 8px;
      padding: 10px 25px;
      color: white;
    }

    .btn-watch:hover {
      background-color: rgb(182, 6, 6);
    }

    /* Movies Section */
    .movie-section {
      padding: 60px 0;
    }

    .movie-card {
      background-color: #1b1b1b;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s ease;
      height: 650px;
    }

    .movie-card:hover {
      transform: scale(1.05);
    }
    .movie-card img {
      width: 100%;
      height: 500px;
    }

    .movie-card h5 {
      color: white;
      margin-top: 10px;
    }

    footer {
      background-color: #9b9494;
      color: #3d3d3d;
      text-align: center;
      padding: 20px 0;
      margin-top: 50px;
    }
    /*.rating5{
        width: 5px;
        height: 5px;
    }
    .rating4{
        width: 5px;
        height: 5px;
    }
    .rating3{
     width: 5px;
     height: 5px;
}*/

.rating-star{
width: 120px;
height: auto;
display: block;
margin: 10px auto 0 auto;
object-fit: contain;
}

.movie-card img.rating-star{
width: 120px;
height: auto;
}